<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nite_Opps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nite_Opps.Properties.Settings>
            <setting name="GSC_Location" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="your_name" serializeAs="String">
                <value>John Citizen</value>
            </setting>
            <setting name="location_name" serializeAs="String">
                <value>Home</value>
            </setting>
            <setting name="site_lat_deg" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="site_lat_min" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="site_lat_sec" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="site_lat_ns" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="site_long_deg" serializeAs="String">
                <value>151</value>
            </setting>
            <setting name="site_long_min" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="site_long_sec" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="site_long_ew" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="site_altitude" serializeAs="String">
                <value>165</value>
            </setting>
            <setting name="site_pressure" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="site_temperature" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="imaging_telescope" serializeAs="String">
                <value>Telescope 1</value>
            </setting>
            <setting name="imaging_telescope_ota_dia" serializeAs="String">
                <value>106</value>
            </setting>
            <setting name="imaging_telescope_focal_length" serializeAs="String">
                <value>540</value>
            </setting>
            <setting name="guiding_telescope" serializeAs="String">
                <value>Telescope 2</value>
            </setting>
            <setting name="guiding_telescope_ota_dia" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="guiding_telescope_focal_length" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="filter1" serializeAs="String">
                <value>Lum</value>
            </setting>
            <setting name="filter2" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="filter3" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="filter4" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="filter5" serializeAs="String">
                <value>Ha</value>
            </setting>
            <setting name="filter6" serializeAs="String">
                <value/>
            </setting>
            <setting name="filter7" serializeAs="String">
                <value/>
            </setting>
            <setting name="filter8" serializeAs="String">
                <value/>
            </setting>
            <setting name="filter9" serializeAs="String">
                <value/>
            </setting>
            <setting name="filter10" serializeAs="String">
                <value/>
            </setting>
            <setting name="filter1offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filter2offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filter3offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filter4offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filter5offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filter6offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filter7offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filter8offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filter9offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filter10offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="exposure_delay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imaging_camera_download_time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mount_control" serializeAs="String">
                <value/>
            </setting>
            <setting name="guiding_program" serializeAs="String">
                <value>PHD</value>
            </setting>
            <setting name="autofocus_program" serializeAs="String">
                <value>Focus Max</value>
            </setting>
            <setting name="object_database" serializeAs="String">
                <value>Generic</value>
            </setting>
            <setting name="platesolve_program" serializeAs="String">
                <value>Pinpoint</value>
            </setting>
            <setting name="platesolve_exposure_duration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="platesolve_binning" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="platesolve_max_pointing_error" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="max_num_platesolves" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="keep_window_on_top" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScopeProdID" serializeAs="String">
                <value/>
            </setting>
            <setting name="ImagingCamProdID" serializeAs="String">
                <value/>
            </setting>
            <setting name="GuidingCamProdID" serializeAs="String">
                <value/>
            </setting>
            <setting name="FilterWheelProdID" serializeAs="String">
                <value/>
            </setting>
            <setting name="inclDateSubdirectoryChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strImgRunFileLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="objectDBChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="imagingCameraChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="guidingCameraChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mountChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filterWheelChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="astrometryEngineChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maximDLChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="guidingAppChecked" serializeAs="String">
                <value>False</value>
            </setting>
        </Nite_Opps.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
